<h1>1998 NBA All-Star Game</h1>
<h2>Roster</h2>
<section>
  @if (westernPlayers$ | async; as westernPlayers) {
    <allstars-roster [title]="'Western Conference All-Stars'" [players]="westernPlayers" />
  }
  @if (easternPlayers$ | async; as easternPlayers) {
    <allstars-roster [title]="'Eastern Conference All-Stars'" [players]="easternPlayers" />
  }
</section>

<h2>Game</h2>
<section>
  <allstars-game [easternBoxScores]="easternBoxScores$ | async" [westernBoxScores]="westernBoxScores$ | async" />
</section>

<h2>Box Score</h2>
<section>
  <allstars-box-score [title]="'Western Conference'" [boxScores]="westernBoxScores$ | async" />
</section>
<section>
  <allstars-box-score [title]="'Eastern Conference'" [boxScores]="easternBoxScores$ | async" />
</section>
