<table>
  <caption>
    NBA All Star roster 1998
  </caption>
  <thead>
    <tr>
      <th scope="col">Player</th>
      <th scope="col">Team</th>
      <th scope="col">Position</th>
      <th scope="col" class="text-right">Selections</th>
      <th scope="col" class="text-right">Votes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="rowgroup" colspan="5">Starters</th>
    </tr>
    <tr *ngFor="let player of starters$ | async" allstars-roster-row [player]="player"></tr>
  </tbody>
  <tbody>
    <tr>
      <th scope="rowgroup" colspan="5">Reserves</th>
    </tr>
    <tr *ngFor="let player of reserves$ | async" allstars-roster-row [player]="player"></tr>
  </tbody>
</table>
