<table>
  <caption>
    {{
      title()
    }}
  </caption>
  <thead>
    <tr>
      <th scope="col">Player</th>
      <th scope="col">Team</th>
      <th scope="col">Position</th>
      <th scope="col" class="text-right hide-small">Selections</th>
      <th scope="col" class="text-right">Votes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="rowgroup" colspan="5">Starters</th>
    </tr>
    @for (player of starters(); track player.id) {
      <tr allstars-roster-row [player]="player"></tr>
    }
  </tbody>
  <tbody>
    <tr>
      <th scope="rowgroup" colspan="5">Reserves</th>
    </tr>
    @for (player of reserves(); track player.id) {
      <tr allstars-roster-row [player]="player"></tr>
    }
  </tbody>
</table>
