html,
body {
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

body {
  padding: 0.5rem;
}

h2 {
  margin: 1rem;
}

table {
  border-collapse: collapse;
  th,
  td {
    border: 1px solid #999999;
    padding: 0.25rem 0.5rem;
    text-align: left;
    &.text-right {
      text-align: right;
    }
  }
}

@media (max-width: 1024px) {
  th,
  td {
    &.hide-small {
      display: none;
    }
  }
}
