<td>{{ boxScore?.team }}</td>
<td>{{ boxScore?.player }}</td>
<td class="text-right">{{ boxScore?.minutes }}</td>
<td class="text-right">{{ boxScore?.points }}</td>
<td class="text-right">{{ boxScore?.totalRebounds }}</td>
<td class="text-right">{{ boxScore?.assists }}</td>
<td class="text-right">{{ boxScore?.steals }}</td>
<td class="text-right">{{ boxScore?.blocks }}</td>
<td class="text-right">{{ boxScore?.fieldGoalsMade }}</td>
<td class="text-right">{{ boxScore?.fieldGoalsAttempted }}</td>
<td class="text-right">{{ boxScore?.fieldGoalsPercentage | percent }}</td>
<td class="text-right">{{ boxScore?.threePointersMade }}</td>
<td class="text-right">{{ boxScore?.threePointersAttempted }}</td>
<td class="text-right">{{ boxScore?.threePointersPercentage | percent }}</td>
<td class="text-right">{{ boxScore?.freeThrowsMade }}</td>
<td class="text-right">{{ boxScore?.freeThrowsAttempted }}</td>
<td class="text-right">{{ boxScore?.freeThrowsPercentage | percent }}</td>
<td class="text-right">{{ boxScore?.offensiveRebounds }}</td>
<td class="text-right">{{ boxScore?.defensiveRebounds }}</td>
<td class="text-right">{{ boxScore?.turnOvers }}</td>
<td class="text-right">{{ boxScore?.personalFouls }}</td>
